<nav class="navbar navbar-light bg-light col-md-6 offset-md-3">
    <a class="btn btn-secondary btn-lg navbar-brand" (click)="home()">
        <i class="fas fa-arrow-left text-white"></i>
    </a>
    <h3 class="text-info">Ônibus</h3>
</nav>
<div class="row" *ngIf="msg">
    <div class="alert alert-warning alert-dismissible fade show col-md-4 col-xs-6 offset-md-4 m-3" role="alert">
        {{msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-6 offset-md-4">
        <div class="rounded-lg text-center m-5">
            <img src="../../../assets/img/onibus.svg" class="img-fluid">
        </div>
        <div class="rounded-lg text-center m-5" *ngIf="loading">
            <img src="../../../assets/img/loading.gif" width="30%" class="img-fluid" alt="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <ul class="list-group">
            <li *ngFor="let o of onibus" class="list-group-item d-flex justify-content-between align-items-center"
                (click)="setItinerario(o.id)">
                {{o.nome}}
                <div><span class="badge badge-info badge-pill"> {{o.codigo}}</span></div>
            </li>
        </ul>
    </div>
</div>